/* input label underline focus color */
#entrance:focus {
  color: #000000;
  border-bottom: 1px solid #6496e5;
  box-shadow: 0 1px 0 0 #6496e5;
}

#input_tag:focus{
  border-bottom: 1px solid #6496e5;
  box-shadow: 0 1px 0 0  #6496e5;
  color: #000000;
}

/* radio button checkd color */
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #6496e5;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color:  #6496e5;
}

a, h2, h3, h4, h5, h6, p {
  font-family: 'Noto Sans KR', serif;
}
